In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
iris = load_iris()
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [2]:
df = pd.DataFrame(iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [3]:
df['target'] = iris.target

In [4]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [5]:
df['flower'] = df['target'].apply(lambda x: iris.target_names[x])

In [6]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [7]:
X = df.iloc[:,0:4]
Y = df['target']

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

In [9]:
from sklearn.svm import SVC
model = SVC(kernel='rbf',C=30,gamma='auto')
model.fit(x_train,y_train)
model.score(x_test,y_test)

1.0

In [10]:
from sklearn.model_selection import cross_val_score,cross_val_predict

In [11]:
cross_val_score(SVC(kernel='linear',C=10,gamma='auto'),iris.data, iris.target, cv=5)

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [12]:
cross_val_score(SVC(kernel='rbf',C=1,gamma='auto'),x_train,y_train,cv=5)

array([0.95833333, 1.        , 1.        , 0.91666667, 0.95833333])

# Doing Above mentioned thing using for loop

In [17]:
from sklearn.svm import SVC
kernels = ['rbf','linear']
C = [1,10,20]
avg_score = {}
for k in kernels:
    for c in C:
        cv_scores = cross_val_score(SVC(kernel=k,C=c,gamma='auto'),x_train,y_train,cv=5)
        avg_score[k + " - " + str(c)] = np.average(cv_scores)
    
avg_score

{'rbf - 1': 0.9666666666666666,
 'rbf - 10': 0.9833333333333334,
 'rbf - 20': 0.9666666666666668,
 'linear - 1': 0.9833333333333334,
 'linear - 10': 0.975,
 'linear - 20': 0.9583333333333333}

# Using for loop is time consuming as the parameters increases

# GridSearchCv from sklearn do the exact same thing as done by FOR LOOP

In [20]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

In [31]:
%%time
clf = GridSearchCV(SVC(gamma='auto'),{
    'C' : [1,10,20],
    'kernel' : ['linear','rbf']
},cv=5,return_train_score=False)

clf.fit(x_train,y_train)
clf.cv_results_

CPU times: user 304 ms, sys: 7.43 ms, total: 312 ms
Wall time: 313 ms

{'mean_fit_time': array([0.00639734, 0.00698271, 0.00507412, 0.00507808, 0.00534739,
        0.0056994 ]),
 'std_fit_time': array([4.65505803e-04, 1.61358579e-03, 2.92408894e-05, 5.10113251e-05,
        3.86025865e-04, 3.39353887e-04]),
 'mean_score_time': array([0.00308313, 0.00306339, 0.00236273, 0.00246768, 0.00250368,
        0.00258899]),
 'std_score_time': array([3.09365157e-04, 5.25025827e-04, 6.62149820e-05, 8.11411530e-05,
        2.49151198e-04, 1.75158392e-04]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'linear'},
  {'C': 1, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'}],
 'split0_test_score': array([0.95833333, 0.95833333, 0.95833333, 0.95833333, 0.95833333,
        0.95833333]),
 'split1_test_score': array([1.        , 1.        , 1.        , 1.        , 0.95833333,
        0.95833333]),
 'split2_test_score': array([1.        , 1.        , 1.        , 1.        , 0.95833333,
        1.        ]),
 'split3_test_score': array([0.95833333, 0.91666667, 0.91666667, 0.95833333, 0.91666667,
        0.91666667]),
 'split4_test_score': array([1.        , 0.95833333, 1.        , 1.        , 1.        ,
        1.        ]),
 'mean_test_score': array([0.98333333, 0.96666667, 0.975     , 0.98333333, 0.95833333,
        0.96666667]),
 'std_test_score': array([0.02041241, 0.03118048, 0.03333333, 0.02041241, 0.02635231,
        0.03118048]),
 'rank_test_score': array([1, 5, 3, 1, 6, 4], dtype=int32)}

In [32]:
df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006397,0.000466,0.003083,0.000309,1,linear,"{'C': 1, 'kernel': 'linear'}",0.958333,1.000000,1.000000,0.958333,1.000000,0.983333,0.020412,1
1,0.006983,0.001614,0.003063,0.000525,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.958333,1.000000,1.000000,0.916667,0.958333,0.966667,0.031180,5
2,0.005074,0.000029,0.002363,0.000066,10,linear,"{'C': 10, 'kernel': 'linear'}",0.958333,1.000000,1.000000,0.916667,1.000000,0.975000,0.033333,3
3,0.005078,0.000051,0.002468,0.000081,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.958333,1.000000,1.000000,0.958333,1.000000,0.983333,0.020412,1
4,0.005347,0.000386,0.002504,0.000249,20,linear,"{'C': 20, 'kernel': 'linear'}",0.958333,0.958333,0.958333,0.916667,1.000000,0.958333,0.026352,6
5,0.005699,0.000339,0.002589,0.000175,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.958333,0.958333,1.000000,0.916667,1.000000,0.966667,0.031180,4

In [33]:
df[['param_C','param_kernel','mean_test_score','rank_test_score']]

  param_C param_kernel  mean_test_score  rank_test_score
0       1       linear         0.983333                1
1       1          rbf         0.966667                5
2      10       linear         0.975000                3
3      10          rbf         0.983333                1
4      20       linear         0.958333                6
5      20          rbf         0.966667                4

In [27]:
dir(clf)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_is_fitted',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_pairwise',
 '_required_parameters',
 '_run_search',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_params',
 'iid',
 'inverse_transform',
 'multimetric_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [28]:
clf.best_params_

{'C': 1, 'kernel': 'linear'}

In [29]:
clf.best_score_

0.9833333333333334

In [30]:
clf.get_params

<bound method BaseEstimator.get_params of GridSearchCV(cv=5, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [1, 10, 20], 'kernel': ['linear', 'rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)>

## The problem with gridsearchcv is computation cost when the dataset will contain millions of records then we use reandomsearchcv

## Randomized search cv performs random permutation and combination of parameters

In [39]:
from sklearn.model_selection import RandomizedSearchCV
clf = RandomizedSearchCV(SVC(gamma='auto'),{
    'C' : [1,10,20],
    'kernel' : ['linear','rbf']
},cv=5,n_iter=2,return_train_score=False
)

clf.fit(x_train,y_train)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                                 class_weight=None, coef0=0.0,
                                 decision_function_shape='ovr', degree=3,
                                 gamma='auto', kernel='rbf', max_iter=-1,
                                 probability=False, random_state=None,
                                 shrinking=True, tol=0.001, verbose=False),
                   iid='deprecated', n_iter=2, n_jobs=None,
                   param_distributions={'C': [1, 10, 20],
                                        'kernel': ['linear', 'rbf']},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [40]:
df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007208,0.000782,0.003318,0.000192,rbf,20,"{'kernel': 'rbf', 'C': 20}",0.958333,0.958333,1.000000,0.916667,1.0,0.966667,0.031180,1
1,0.006957,0.000788,0.003149,0.000410,linear,20,"{'kernel': 'linear', 'C': 20}",0.958333,0.958333,0.958333,0.916667,1.0,0.958333,0.026352,2

In [41]:
df[['param_C','param_kernel','mean_test_score','rank_test_score']]

  param_C param_kernel  mean_test_score  rank_test_score
0      20          rbf         0.966667                1
1      20       linear         0.958333                2

In [42]:
clf.score(x_test,y_test)

1.0

# Choosing the best model

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

## We have to find the best model for iris data using above mentioned algo

In [50]:
model_params = {
    'svm' : {
        'model' : SVC(gamma='auto'),
        'params' : {
            'C' : [1,10,20],
            'kernel' : ['linear','rbf']
        }
    },
    'random_forest' : {
        'model' : RandomForestClassifier(),
        'params' : {
            'n_estimators' : [1,5,10],
            #'criterion' : ['ginni','entropy']
        }
    },
    'logistic_regression' :{
        'model' : LogisticRegression(solver='liblinear',multi_class='auto'),
        'params' : {
            'C' : [1,5,10]
        }
    }
}

In [51]:
scores = []

for model_name,mp in model_params.items():
    clf = GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(x_train,y_train)
    scores.append({
        'model' : model_name,
        'best_score' : clf.best_score_,
        'best_params' : clf.best_params_
    })

In [52]:
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                   best_params
0                  svm    0.983333  {'C': 1, 'kernel': 'linear'}
1        random_forest    0.941667           {'n_estimators': 5}
2  logistic_regression    0.966667                      {'C': 5}